body{
    font-family: Arial, sans-serif;
    background-color: rgb(117, 0, 0);
}
h1{
    color: #a20000;

}
form{
    background-color: #00a226a0;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: #6f2a2a;
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: #a20000;
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    background-color: aquamarine;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}